body, form, input, button, ul, li, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 40px;
}

p {
  text-align: center;
  background-color: rgb(230,230,230);
  padding: 10px;
  font-size: 20px;
}

#form-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid grey;
  background-color: rgb(230,230,230);
}

#form-message input {
  display: inline-block;
  width: 80vw;
  line-height: 20px;
  margin: 10px 1vw;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

#form-message button {
  width: 10vw;
  margin: 10px 1vw;
  padding: 10px;
  line-height: 20px;
  font-size: 20px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

#messages li {
  list-style: none;
  padding: 10px;
  font-size: 16px;
}

#messages li:nth-child(odd) {
  background-color: rgb(250,240,240);
}